* {
    margin: 0;
    padding: 0;
    background-color: #6E5C62;
    font-family: 'Mitr', sans-serif;
    color: white;
}

#container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 200px 550px 200px;
    grid-template-areas: "topo" "principal" "teclado";
}

#principal {
    grid-area: principal;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#topo {
    grid-area: topo;
    display: flex;
    justify-content: center;
    align-items: center;
}

#topo h1 {
    font-size: 60px;
    color: #FFF;
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: #312B2D;
}

.celula {
    width: 70px;
    height: 70px;
    border-radius: 5px;
    margin-right: 4px;
    background-color: #312B2D;
    font-size: 40px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid #312B2D;
}

.linha {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}